.item-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:40px;

}
.image-container{
    img{
        max-height: 250px;
        height: 100%;
    object-fit: contain;   }
}
.info-container{
    width: auto;
    display: flex;
    flex-direction: column;
}

