.item-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
    }
    p{
    font-size: calc(5vmin);
    font-weight: 400;
        margin: 0;
        margin-block: 5px;
    }

    transition: 0.3s;
}
