.navbar-container{
    font-weight: 500;
    padding-block: 20px;
    padding-inline: 5%;
    font-size: calc(10px + 3vmin);
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    a{
        padding:5px;
        padding-inline: 15px;
        font-size: 120%;
        color: black;
        text-decoration: none;
        transition: 0.15s;

        p{
            margin:0;
        }
    }
    a:hover{
        padding-inline: 20px;
        background-color: #111;
        color: white;
    }
    .navbar-account{
        width: 100%;
        display: flex;
        justify-content: right;
        gap:20px;
    }
    .navbar-pages{
        display: flex;
        justify-content: left;
        gap:20px;
    }

}
