.navbar-container{
    z-index: 9999;
    font-weight: 500;
    padding-block: 1em;
    padding-inline: 5%;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    a{
        padding:clamp(0.3rem, 0.249rem + 0.209vw, 0.5rem);
        padding-inline: 5px;
        font-size: clamp(5rem, 0.71rem + 5.47vw, 7rem);
        color: black;
        text-decoration: none;
        transition: 0.15s;

        p{
            margin:0;
        }
    }
    a:hover{
        padding-inline: 10vw;
        background-color: #111;
        color: white;
    }
    .navbar-account{
        width: 100%;
        display: flex;
        justify-content: right;
        gap:3vw;
    }
    .navbar-pages{
        display: flex;
        justify-content: left;
        gap:3vw;
    }
    h1{
            padding-block: 0.3em;

        margin: 0;
    }
}
