body {
  margin: 0;
  font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-inline: clamp(0.2rem, -0.004rem + 0.837vw, 1rem)
}


a{
  text-decoration: none;
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size:clamp(1.6rem, 1.422rem + 0.732vw, 2.3rem);
}
h2{
font-size: clamp(1.4rem, 1.043rem + 1.464vw, 2.8rem);
}
h4{
  margin: 0;
}
h5{
  margin: 0;
  padding: 0;
}
p{
font-size: clamp(1rem, 0.898rem + 0.418vw, 1.4rem)
}
 
@media (width >= 40em) {
  
}
@media ( width >= 60em) {
  
}