ul{
    padding-inline: 5%;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
    row-gap: 10%;
    justify-content: space-between;
}
li{
    max-width: 500px;
    transition: 0.2s;
}
li:hover{
    cursor: pointer;
}
button{
    font-size: x-large;
}
select{
    font-size: x-large;
}