.page-container{
    width: 100%;
    height: 100%;
    padding-inline: 12em;
}
.shirts-list{
    width: 100%;
    display: grid;
    width: 100%;
    margin-inline: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 10%;
    justify-content: space-between;
}

li{
    margin-inline: auto;
}
li:hover{
    cursor: pointer;
}
