.item-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.image-list li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images-container{
    gap: 20px;
    justify-content: center;

}
.image-list img{
    width: 40%;
    height: auto;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .text-name{
        font-size: 300%;
    }
    .text-description{
        font-size: 150%;
    }
    .text-price{
        font-size: 300%;
    }
    select{
        font-size: 150%;
        font-family: "JetBrains Mono", monospace;
        text-align: center;
        width: 50%;
        background-color: rgb(241, 241, 241);
        padding: 5mm;
        border: 0;
        border-radius: 0;
        transition: 0.1s;

        margin-bottom: 1%;
    }
    select:hover{
        background-color: rgb(201, 201, 201);
    }
    option{
        font-size: 60%;
        font-family: "JetBrains Mono", monospace;
        text-align: center;
    }
    button{
        font-size: 150%;
        font-family: "JetBrains Mono", monospace;
        text-align: center;
        width: 50%;
        background-color: rgb(241, 241, 241);
        padding: 5mm;
        border: 0;
        border-radius: 0;
        transition: 0.1s;
    }
    button:hover{
        background-color: rgb(201, 201, 201);
    }
}